* {
  margin: 0;
  box-sizing: border-box; /* Lägg till detta för att inkludera padding och border i elementens totala bredd och höjd */
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
span {
  cursor: pointer;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
header {
  background: rebeccapurple;
  text-align: center; /* sätter texten kalender i mitten*/
  width: 100%;
}

aside {
  background-color: aquamarine;
  width: 20%;
}
.today-content {
  padding: 1rem;
  background-color: darkgray;
  font-size: large; 
}
.month-banner {
  background-color: rgb(97, 161, 161);
  text-align: center;
}
.month-banner h2 {
  display: inline;
}

.todo-list-container {
  padding-top: 4px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  
  
}
input {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
.todolista{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  padding-left: 15px;
  font-weight: bold;

}
#todo-btn{
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px ;
  height: 2rem;
}
#date{
  margin-top: 4px;
  margin-bottom: 4px;
}
.days {
  margin: 0px;
  padding-top: 7px;
  padding-bottom: 5px;
  background-color: #6a6767;
 /* padding: 10px; */
}
.days ul {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.days li {
  margin-left: 8px;
  display: inline-block;
  width: 100px;
  color: #000000;
  text-align: center;
}
main {
  background-color: rgb(250, 252, 248);
  width: 80%; /* ?????*/
  border-radius: 5px; /* storleken rundheten*/
  /* box-shadow: 1px 0 5px black; /*skuggan på knapparna*/
}

.calendar-dates {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
/*  max-height: 100%; */
  gap: 5px;
}

.date {
  display: flex;
  padding: 10px 5px;
  padding-bottom: 50%;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0; /* rundheten på knappen över dagen */
  width: 100%; /* att vara responsiv */
  height: auto; /* för att vara mer flexibel */
  transition: 0.2s;
  border: 1px solid bisque; /* Vi kan välja vilka färger sen */
}

.date:hover,
.date.active {
  background-color: #000000af;
  color: rgb(254, 140, 0);
}

.date.inactive {
  color: rgba(255, 0, 0, 0.31);
}

button {
  border: none;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variant: normal;
  font-size: 24px; /* Justera storleken efter behov, vi tycker passar */
}
#todo-btn{
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
  height: 2rem;
  border: 2px solid #000; 
  background-color: beige; 
  padding: 0.5rem 1rem; /* för att göra knappen större */
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

#todo-btn:hover {
  background-color: #ed8d8d; 
}


@media (max-width: 950px) {
aside, main., header, .days ul {
  width: 100%;
}
.days, .today-content, .calendar-dates, .month-banner {
  width: 100%;
}
input, button, #todo-btn {
  position: relative;
  font-size: small;
  text-align: center;
}
.date {
width: 100%;

}
.todo-list-container {
color: rgb(212, 239, 6); /*färgen på todo grejerna*/
margin-bottom: 10px;
} 


}

@media (max-width: 900px){
  aside, main {
    width: 100%;
  }
  .days ul, .month-banner, header {
width: 100%;
  }
  .days, .today-content, .month-banner, input, button, #todo-btn {
    font-size: small;
  }
  .date {
    padding-bottom: 10%;
  }
}
/*
@media (width: 700px){
  aside, main {
    width: 100%;
  }
 .days ul, .today-content, header {
  width: 100%;
}
  .days, .calendar-dates , .month-banner {
    text-align: center;
    width: 100%;
  }
   input, button, #todo-btn {
    font-size: small; /*anpassar storleken på texten*/
  }
 /* .calendar-dates {
    width: 100%;
  }
  .date {
    padding-bottom: 10%;
    width: 100%;
  }
} */

@media (max-width: 500px){
/*css for phones big ones*/
aside, main {
  width: 100%;
}
.days, .today-content, .calendar-dates, .month-banner {
  width: 100%;
  text-align: center;

}

}

@media (max-width: 360px) {
/* Stilar för mindre telefoner */
aside, main {
  width: 100%;
}
.days, .month-banner {
  font-size: smaller;
  width: 100%;
}
input, button {
  font-size: smaller;
  padding: 3px;
}
#todo-btn {
  padding: 3px;
  margin: 2px;
}

.today-content {
background-color: pink;
text-align: center;
}
.todo-list-container {
font-size: small;
margin-bottom: 10px;
  }
}
