* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
span {
  cursor: pointer;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
header {
  background: rebeccapurple;
}
aside {
  background-color: aquamarine;
  flex-basis: 20%;
}
.today-content {
  padding: 1rem;
  background-color: darkgray;
}
.month-banner {
  background-color: aqua;
  text-align: center;
}
.month-banner h2 {
  display: inline;
}
.todo-list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: blue;
}
.days {
  background-color: aliceblue;
  display: flex;
}
.days ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  list-style-type: none;
}
main {
  background-color: chartreuse;
  flex-basis: 80%;
  min-height: 100vh;
}
.calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}
@media (max-width: 600px) {
  aside,
  main {
    flex-basis: 100%;
  }
  .days {
    font-size: small;
  }
  .days ul {
    padding: 10px;
  }
}
